<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="../static/css/ToDoListCss.css">
</head>
<body>
    <header>
        <h1>To-Do List</h1>
    </header>

    <main class="container">
        <section class="add-task">
            <input type="text" id="task-input" placeholder="Введите задачу...">

            <select id="task-status">
                <option value="new">Новая</option>
                <option value="inProgress">В процессе</option>
                <option value="done">Завершенная</option>
            </select>

            <select id="task-priority">
                <option value="low">Низкий приоритет</option>
                <option value="medium" selected>Средний приоритет</option>
                <option value="high">Высокий приоритет</option>
            </select>

            <button id="add-btn">Добавить</button>
        </section>

        <section class="filters">
            <button data-filter="all" class="filter active">Все</button>
            <button data-filter="done" class="filter">Выполненные</button>
            <button data-filter="notDone" class="filter">Невыполненные</button>
            <button id="priority-sort-btn" class="filter">Приоритет</button>
        </section>


        <div id="task-list">
            <section class="created-tasks">
                <h2>Новые задачи</h2>
                <div class="tasks-container"></div>
            </section>

            <section class="in-progress-task">
                <h2>В процессе</h2>
                <div class="tasks-container"></div>
            </section>
            
            <section class="ended-task">
                <h2>Завершенные</h2>
                <div class="tasks-container"></div>
            </section>
        </div>
    </main>

    <footer>
        <p>Создано:
            <b>Бобков Илья 2252</b>
            | Университет «Дубна» | 2025
        </p>
    </footer>

    <script src="../static/js/ToDoListJs.js"></script>
</body>
</html>